/**
 * (c) 2017 Hajime Yamasaki Vukelic
 * All rights reserved.
 */

.wrapper
  position: absolute
  top: 40px
  left: 0
  right: 0

.main
  max-width: 600px
  width: 100%;
  margin: 2rem auto
  padding: 2rem
  background: white
  border-radius: 4px
  display: block
