/**
 * (c) 2017 Hajime Yamasaki Vukelic
 * All rights reserved.
 */

.title
  font-size: 120%
  color: #555
  text-align: center
  margin-bottom: 2rem
  text-transform: uppercase
  letter-spacing: 0.2rem

.buttonBar
  text-align: right
  background: #efefef
  margin-bottom: 1rem
  border-radius: 2px

.tasks
  position: relative

.task
  position: absolute
  left: 0
  top: 0

.actionButton
  background: #446699
  color: white
  padding: 0.3rem 1rem
  border-radius: 2px
  margin-left: 0.5rem

.aside
  font-size: 80%
  text-align: center
  margin-bottom: 3rem;
