/**
 * (c) 2017 Hajime Yamasaki Vukelic
 * All rights reserved.
 */

.nav
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1
  background: white
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
  text-align: right
  padding: 0.2rem 1rem

.link
  text-transform: uppercase
  margin-left: 1rem
  cursor: pointer
  transition: color 0.3s

  &:hover
    color: #557799


