/**
 * (c) 2017 Hajime Yamasaki Vukelic
 * All rights reserved.
 */

// Crude reset
:global(*)
  box-sizing: border-box
  font-size: 100%
  font-weight: normal
  font-style: normal
  margin: 0
  padding: 0
  list-style: none
  outline: 0
  border: 0

:global(html, body)
  background: #eee
  font-family: Arial, Helvetica, sans-serif
  font-size: 16px

.main
  max-width: 600px
  margin: 2rem auto
  padding: 2rem
  background: white
  border-radius: 4px

.title
  font-size: 120%
  color: #555
  text-align: center
  margin-bottom: 2rem
  text-transform: uppercase
  letter-spacing: 0.2rem

.buttonBar
  text-align: right
  background: #efefef
  margin-bottom: 1rem
  border-radius: 2px

.tasks
  position: relative

.task
  position: absolute
  left: 0
  top: 0

.add
  background: #446699
  color: white
  padding: 0.3rem 1rem
  border-radius: 2px

.aside
  font-size: 80%
  text-align: center
  margin-bottom: 3rem;
